@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v11-latin-regular.woff2") format("woff2"), 
       url("../fonts/livvic-v11-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v11-latin-600.woff2") format("woff2"), 
       url("../fonts/livvic-v11-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v11-latin-700.woff2") format("woff2"), 
       url("../fonts/livvic-v11-latin-700.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.container {
  max-width: 1110px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.meet-directors {
  width: 100%;
  height: 1002px;
  background-color: #004047;
}

#top-background-img {
  width: 200px;
  height: 200px;
  top: 0;
  position: absolute;
  margin-left: -50px;
}


.down-background-img {
  margin-top: 68px;
  float: right;
}

#down-background-img {
  width: 147px;
  height: 100px;
}

.top-tittle {
  padding-top: 140px
}

.top-tittle h1 {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff;
}

.directors{
  margin-top: 64px;
}

.directors-bg {
  width: 350px;
  height: 253px;
  background-color:  #012F34;
  text-align: center;
  overflow: hidden;
}

.directors-main-content {
  display: flex;
  justify-content: center;
}

.directors-bg ~ .directors-bg {
  margin-left: 30px;
}

#firs-directors-label {
  display: flex;
  margin-bottom: 76px;
}

#second-directors-label {
  display: flex;
}

.directors-image {
  margin-top: 32px;
}

#nikita-marks , #cristian-duncan , #cruz-hamer, #drake-heaton{
  width: 350px;
  height: 253px;
  background-color:  #012F34;
}

.plus-hover {
  width: 100%;
  height: 256px;
  text-align: center;
}

.mini-about-directors {
  margin-bottom: 52px;
}

.mini-about-directors .director-name-surname {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  margin-top: 16px;
  margin-bottom: 0;
}


.mini-about-directors .director-experience {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  margin-top: 0;
  font-family: "Livvic", sans-serif;
  font-weight: normal;
}


#block {
  display: flex;
  justify-content: center;
}

.plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: #F67E7E;
  margin-top: 226px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.plus-icon:hover{
  background-color: #79C8C7;
}

.plus-hoverth {
  background-color: #002529;
  height: 300px;
  margin-top: -16px;
  text-align: center;
}

.mt {
  padding-top: 33px;
  padding-bottom: 8px;
}

.director-p {
  display: flex;
  justify-content: center;
}

.p {
  width: 286px;
  padding: 0 30px;
}

a {
  text-decoration: none;
}

.social-media a~a{
  margin-left: 14px;
}